body {
    background-color: black;
    color: white;
}

#me {
    display: block;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#mainSkill {
    margin-bottom: 30px;
}

.progress-bar {
    background-color: #7E3465 !important;
}

.header {
    position: fixed;
    background-color: black;
    height: 60px;
    width: 100%;
    top: 0;
    overflow: hidden;
    color: white;
    z-index: 999;
}

.header h1 {
    margin-top: 0;
    z-index: 100;
}

.footer {
    width: 100%;
    background-color: black;
    color: white;
    height: 40px;
    margin-top: 50px;
}

.footer p {
    margin: 0;
    padding: 0;
    text-align: right;
    padding-right: 20px;
}

.heading {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/header-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 50px;
    line-height: 300px;
    text-align: center;
}

.heading h1 {
    font-size: 60px;
    text-align: center;
    color: white;
    opacity: 0.9;
}

mark {
    color: #7E3465;
    background: none;
}

mark.grey {
    color: white;
}

p {
    font-size: 20px;
}

i {
    font-size: 40px;
    margin-right: 50px;
}

span {
    display: inline-block;
    vertical-align: middle;
}

table {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 50px;
}

a {
    color: #7E3465;
}

a:hover {
    color: #7E3465;
}

a:active {
    color: white;
}

iframe {
    display: block;
}

#about {
    display: block;
}

#skills {
    display: none;
}

#industry {
    display: none;
}

#projects {
    display: none;
}

#contact {
    display: none;
}

.container {
    min-height: 600px !important;
}