// -- Light styling
$body-bg: #FFFFFF;
$body-color: #000000;
$primary: #B4CCDB;
$link-hover-color: darken($primary, 15%) !default;

.heading {
    background-image: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), url("../images/headerLight.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 50px;
    line-height: 300px;
    text-align: center;
}
// -- End light

// -- Dark styling
$body-bg: #000000;
$body-color: #FFFFFF;
$primary: #7D4C32;
$progress-bg: #282828;
$link-hover-color: lighten($primary, 15%) !default;

.heading {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/headerDark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 50px;
    line-height: 300px;
    text-align: center;
}
// -- End dark

// -- Bootstrap styling --
$theme-colors: (
    "primary": $primary
);

//Fonts
$font-size-base: 1.25rem;
$h1-font-size: $font-size-base * 2.2 !default;
.nav-link {
    font-size: $font-size-base / 0.75;
}

//Nav styling
.nav {
    padding-bottom: 30px;
}

.nav-pills {
    display: block;
    text-align: center;
}

.nav-pills a {
    padding: 5px 10px 5px 10px;
}

.nav-pills .active {
    background-color: $link-hover-color;
}

.nav-pills .active a {
    color: $body-bg;
}

.nav-pills .left {
    border: 2px solid $link-hover-color;
    border-right: 1px solid $link-hover-color;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.nav-pills .right {
    border: 2px solid $link-hover-color;
    border-left: 1px solid $link-hover-color;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

//Link styles
$link-hover-decoration: none !default;
a {
    &:focus {
      color: $link-hover-color;
    }
}

.nav-active {
    color: $link-hover-color !important;
}

//Table styling
table {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

//Progress bar styling
$progress-border-radius: 7px;

//Mark styling
$mark-bg: none;

mark {
    color: $link-hover-color;
    background: none;
}

//Container styling
.container {
    min-height: 600px;
}

// -- Non-Bootstrap styling --
.header {
    position: fixed;
    background-color: $body-bg;
    height: 60px;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 999;
}

.header h1 {
    color: $body-color;
    z-index: 999;
}

.header i {
    position: fixed;
    color: $body-color;
    z-index: 999;
    right: -30px;
    top: 12px;
    font-size: 30px;
}

.heading h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 140px;
}

#mainSkill {
    //The skill that changes in the skills section
    margin-bottom: 30px;
}

.image-small {
    display: block;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

i {
    font-size: 40px;
    margin-right: 50px;
}

//Content that needs to start hidden to work with nav
#about {
    display: block;
}

#skills {
    display: none;
}

#industry {
    display: none;
}

#projects {
    display: none;
}

#contact {
    display: none;
}

#software {
    display: none;
}

@import "../node_modules/bootstrap/scss/bootstrap";