html {
    height: 100%;
    overflow-y: hidden;
}

@media (prefers-color-scheme: dark) {
    body {
        background: radial-gradient(ellipse at center bottom, #4b6cb7, #182848);
        color: white;
    }

    a {
        color: white;
    }

    .headerBar {
        z-index: 999;
        background-color:rgba(58, 59, 60, 0.6);
        backdrop-filter: blur(5px);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: radial-gradient(ellipse at center bottom, #f8cdda, #4c62b8);
        color: black;
    }

    a {
        color: black;
    }

    .headerBar {
        background-color: rgba(230, 230, 230, 0.6);
        backdrop-filter: blur(5px);
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    height: 100%;
}

.headerBar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100%;
}

.contentArea {
    position: relative;
    height: 100%;
    width: 100%;
    left: 0;
}